/*header*/
header {
  height: 80px;
}

header .header-top {
  padding: 5px 15px;
  background-color: black;
}
.logo-sony{
  width: 90px;
}
img{
  width: 100%;
}

header .header-bottom {
  height: 50px;
  background-color: white;
  border: 1px solid black;
}

/*section returnal*/
.ss-section,
.ss-section-2 {
  height: 500px;
  background-color: chocolate;
  background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:right;
  padding: 170px 0 50px 40px;
}

.container-section {
  padding-top: 150px;
  color: white;
}

.title-container-section {
  color: white;
}

/*section cards*/
.box {
  margin: 10px;
  background-color: brown;
}

/*section ecco la playstation 5*/

/*section console playstation 5*/

/*section accesory*/
.box-img {
}
.box-subtitle {
}
/*section it takes two*/
.ss-section-2{
background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/*section nuove uscite*/
h2{
  color: white;
}
.container-nuove-uscite {
  background-color: #1f1f1f;
}
/*section play station plus*/
.ss-container-play-plus {
  background-color: #bebcbb;
}
/*section play station now*/
.ss-container-blue {
  background-color: #161c3b;
}

/*section social media*/
.ss-container-90 {
  width: 900px;
  max-width: 90%;
  margin: 0 auto;
}

/*footer*/
footer .container-footer{
  height: 600px;
  background-color: #00439c;
}