/*header*/
header {
  height: 80px;
}

header .header-top {
  height: 30px;
  background-color: black;
  color: white;
}

header .header-bottom {
  height: 50px;
  background-color: white;
  border: 1px solid black;
}

/*section returnal*/
.ss-section {
  /*bg-image da aggiungere*/
  padding: 170px 0 50px 40px;
}

.container-section {
  background-color: wheat;
}

.title-container-section {
  background-color: violet;
}

/*section cards*/
.box {
  /*placeholder*/
  height: 250px;
  margin: 10px;
  background-color: brown;
}

/*section ecco la playstation 5*/

/*section console playstation 5*/

/*section accesory*/
.box-img {
  height: 80%;
  background-color: cadetblue;
}
.box-subtitle {
  height: 20%;
}

/*section nuove uscite*/

.container-nuove-uscite {
  background-color: #1f1f1f;
}
/*section play station plus*/
.ss-container-play-plus {
  background-color: #bebcbb;
}
/*section play station now*/
.ss-container-blue {
  background-color: #161c3b;
}

/*section social media*/
.ss-container-90 {
  width: 900px;
  max-width: 90%;
  margin: 0 auto;
}

/*footer*/
footer .container-footer{
  height: 600px;
  background-color: #00439c;
}